/**/
.my-card-onhover:hover
{
    /* box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important; */
    border: 1px solid rgba(0, 0, 0, 0.125) !important;;
}

/* Owner bg */
.block-bg-owner-lt
{
    background-image: url("images/bg/block_bg_owner_lt.svg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.block-bg-owner-rt
{
    background-image: url("images/bg/block_bg_owner_rt.svg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.block-bg-owner-rb
{
    background-image: url("images/bg/block_bg_owner_rb.svg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.block-bg-owner-lb
{
    background-image: url("images/bg/block_bg_owner_lb.svg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Invest bg */
.block-bg-invest-lt
{
    background-image: url("images/bg/block_bg_invest_lt.svg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.block-bg-invest-rt
{
    background-image: url("images/bg/block_bg_invest_rt.svg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.block-bg-invest-rb
{
    background-image: url("images/bg/block_bg_invest_rb.svg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.block-bg-invest-lb
{
    background-image: url("images/bg/block_bg_invest_lb.svg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Main banner bg */
.main-banner-bg
{
    background-image: url("images/bg/main_banner_bg.svg");

    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Block projects bg */
.block-projects-bg
{
    background-image: url("images/bg/block_projects_bg.svg");

    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}